body, html {
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
    overflow: hidden; /* Evita barras de rolagem */
    background-color: #ecf0f1; /* Mesma cor de fundo do jogo */
}

#game-container {
    width: 100%;
    height: 100%;
    display: block; /* Garante que div ocupe espaço correto */
}

canvas {
    display: block; /* Remove espaço extra em baixo do canvas */
}